*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(201, 196, 196);
}

.grid{
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 30%;
    left: 30%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0;
}

.selected{
    background-color: black;
}