*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }

.grid{
    height: 30rem;
    width: 30rem;
    position: relative;
    left: 30%;
    border: 5px solid #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.gridSquare{
    /* border: 1px solid blue; */
    height: 1.75rem;
    width: 1.75rem;
}

.selected{
    background-color: black;
}